.slider-container {
  max-width: 1128px !important;
  width: 100vw;
}
.achv-heading {
  width: 100%;
  max-width: 1128px !important;
}
.swiper {
  width: 100%;
  height: 100%;
  z-index: 999;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -5px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);
}

.swiper-pagination-bullet-active {
  background: #007aff;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.swiper-button-disabled{
  display: none;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  margin-top: 20px !important;
}

@media (max-width: 375px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
